<div
	class="relative h-56 w-56 rounded-lg border border-gray-200 dark:border-gray-700 dark:bg-gray-800"
>
	<span
		class="absolute right-1/2 -translate-y-1/2 translate-x-1/2 rounded-full bg-blue-200 p-0.5 px-2 text-center text-xs font-medium leading-none text-blue-800 dark:bg-blue-900 dark:text-blue-200"
		>top-center</span
	>
	<span
		class="absolute left-0 right-auto top-0 -translate-x-1/2 -translate-y-1/2 rounded-full bg-blue-200 p-0.5 px-2 text-center text-xs font-medium leading-none text-blue-800 dark:bg-blue-900 dark:text-blue-200"
		>top-left</span
	>
	<span
		class="absolute left-auto right-0 top-0 -translate-y-1/2 translate-x-1/2 rounded-full bg-blue-200 p-0.5 px-2 text-center text-xs font-medium leading-none text-blue-800 dark:bg-blue-900 dark:text-blue-200"
		>top-right</span
	>
	<span
		class="absolute left-1/2 top-2/4 -translate-x-1/2 -translate-y-1/2 rounded-full bg-blue-200 p-0.5 px-2 text-center text-xs font-medium leading-none text-blue-800 dark:bg-blue-900 dark:text-blue-200"
		>middle-center</span
	>
	<span
		class="absolute left-0 right-auto top-2/4 -translate-x-1/2 -translate-y-1/2 rounded-full bg-blue-200 p-0.5 px-2 text-center text-xs font-medium leading-none text-blue-800 dark:bg-blue-900 dark:text-blue-200"
		>middle-left</span
	>
	<span
		class="absolute left-auto right-0 top-2/4 -translate-y-1/2 translate-x-1/2 rounded-full bg-blue-200 p-0.5 px-2 text-center text-xs font-medium leading-none text-blue-800 dark:bg-blue-900 dark:text-blue-200"
		>middle-right</span
	>
	<span
		class="absolute bottom-0 right-1/2 translate-x-1/2 translate-y-1/2 rounded-full bg-blue-200 p-0.5 px-2 text-center text-xs font-medium leading-none text-blue-800 dark:bg-blue-900 dark:text-blue-200"
		>bottom-center</span
	>
	<span
		class="absolute bottom-0 left-0 right-auto -translate-x-1/2 translate-y-1/2 rounded-full bg-blue-200 p-0.5 px-2 text-center text-xs font-medium leading-none text-blue-800 dark:bg-blue-900 dark:text-blue-200"
		>bottom-left</span
	>
	<span
		class="absolute bottom-0 left-auto right-0 translate-x-1/2 translate-y-1/2 rounded-full bg-blue-200 p-0.5 px-2 text-center text-xs font-medium leading-none text-blue-800 dark:bg-blue-900 dark:text-blue-200"
		>bottom-right</span
	>
</div>
