<style>
	.sidenav {
		height: 100%;
		width: 0;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;

		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}

	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;

		display: block;
		transition: 0.3s;
	}

	.sidenav a:hover {
	}

	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	#pushmain {
		transition: margin-left 0.5s;
		padding: 16px;
	}
</style>

<div class="relative">
	<div id="pushmySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="#">About</a>
		<a href="#">Services</a>
		<a href="#">Clients</a>
		<a href="#">Contact</a>
	</div>

	<div id="pushmain">
		<h2>Sidenav Push Example</h2>
		<p>
			Click on the element below to open the side navigation menu, and push this content to the
			right.
		</p>
		<span style="font-size: 30px; cursor: pointer" onclick="openNav()">&#9776; open</span>
	</div>
</div>

<script>
	function openNav() {
		document.getElementById('pushmySidenav').style.width = '250px'
		document.getElementById('pushmain').style.marginLeft = '250px'
	}

	function closeNav() {
		document.getElementById('pushmySidenav').style.width = '0'
		document.getElementById('pushmain').style.marginLeft = '0'
	}
</script>
