---
type Props = {
	label: string
	href: string
	size: 'md' | 'lg'
	type: 'primary' | 'secondary'
	class?: string
	target?: string
}

const {
	label,
	href,
	size = 'md',
	class: className = '',
	target = '_self',
	type = 'primary'
} = Astro.props
---

<a
	href={href}
	class:list={[
		'items-center text-center font-bold leading-snug active:scale-[.98]',
		{
			[className]: true,
			'bg-link hover:bg-opacity-80': type === 'primary',
			'text-primary dark:text-primary-dark shadow-secondary-button-stroke dark:shadow-secondary-button-stroke-dark hover:bg-gray-40/5 active:bg-gray-40/10 hover:dark:bg-gray-60/5 active:dark:bg-gray-60/10':
				type === 'secondary',
			'rounded-full px-4 py-3 text-lg sm:px-6': size === 'lg',
			'rounded-full px-4 py-2 text-base': size === 'md'
		}
	]}
	aria-label={label}
	target={target}
>
	<slot />
</a>
