---
type Props = {
	href: string
}

const { href } = Astro.props
---

<a
	href={href}
	class="border-link text-link dark:text-link-dark inline border-b border-opacity-0 leading-normal transition duration-100 ease-in hover:border-opacity-100"
>
	<slot />
</a>
