---
type Props = {
	href: string
	isActive: boolean
}

const { href, isActive } = Astro.props
---

<a
	href={href}
	class:list={[
		'text-primary dark:text-primary-dark outline-link xs:px-3 hover:bg-primary/5 hover:dark:bg-primary-dark/5 mx-1 inline w-full rounded-full px-1.5 py-1.5 text-center capitalize leading-normal transition-transform duration-100 ease-in active:scale-95 sm:px-4',
		isActive && 'bg-highlight dark:bg-highlight-dark text-link dark:text-link-dark'
	]}
>
	<slot />
</a>
