<script>
  import { navigate } from 'astro:transitions/client';

  document.querySelector('select').onchange = (ev) => {
      let href = ev.target.value;
      navigate(href);
  };
</script>

<select>
  <option value="/play">Play</option>
  <option value="/blog">Blog</option>
  <option value="/about">About</option>
  <option value="/contact">Contact</option>
</select>


<!-- 
<form action="/contact" data-astro-reload>

</form> -->