html,
* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	width: 95vw;
	min-height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--background-color);
	color: var(--color);
}

div {
	border: thin solid var(--muted-border-color);
	margin: 0 atuo;
	padding: 2px;
}

input {
	background-color: transparent;
}
