---
import Layout from '@layouts/Layout.astro'
import Breadcrumbs from '@layouts/_elements/Breadcrumbs.astro'

const hrefs = ['/api/chat', '/api/partial', '/api/form', '/api/todos']
---

<script src="https://unpkg.com/htmx.org@1.8.5"></script>

<Layout title="About">
	<div slot="p-hd">
		<h2 class="text-3xl font-extrabold capitalize leading-none tracking-tight">About</h2>
		<Breadcrumbs />
	</div>

	<div slot="p-sd" class="grid">
		<button class="" hx-get="/api/hello" hx-target="#response" hx-swap="innerHTML"> Prompt</button>

		{
			hrefs.map((href) => (
				<button class="" hx-post={href} hx-target="#response" hx-swap="innerHTML">
					{href}
				</button>
			))
		}
	</div>

	<div id="response" class="my-4">I will be replaced by the response from the server.</div>
</Layout>
