---
import { Debug } from 'astro:components'
import Show from './Show.astro'

const astrocomps = await Astro.glob('./_examples/*.html')
---

<div class="grid gap-3 lg:grid-cols-2">
	{
		astrocomps.map((component) => (
			<Show>
				<div>
					<component.default size={24} />
				</div>
			</Show>
		))
	}
</div>
