---


---

<div class="h-full grid grid-rows-[auto_1fr_auto] gap-1">
  <div class="bg-surface-500/30 p-4">(header)</div>
	<div class="bg-surface-500/30 p-4 overflow-y-auto">(feed)</div>
	<div class="bg-surface-500/30 p-4">(foot)</div>
</div>
					