---

import '@styles/global.css'

import GridAreaSlot from "./_slots/GridAreaSlot.astro"

import BaseHead from "./_elements/BaseHead.astro"
import Header from '@components/preact/Header'
import Footer from '@components/preact/Footer'
import Breadcrumbs from '@components/astro/Breadcrumbs.astro'
import {Alert, alert}  from '@components/svelte/alert'

const d = true;


const { title } = Astro.props.frontmatter || Astro.props;

---

<html lang="en" data-theme="dark">
  <head> <BaseHead {title} /> </head>

  <body class="h-full grid grid-rows-[auto_1fr_auto] gap-1">
    <Header />
    <div class="overflow-y-auto"> <slot /></div>
    <Footer  />
  </body>
        {d && <Alert client:visible />}

</html>



<style is:global>

  body {
    margin: 0 auto;
    width: 95vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--color);
  }

  div {
    border: thin solid var(--muted-color);
    margin: 2px;
  }
</style>